* {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #18181b;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  max-width: 600px;
  margin-bottom: 24px;
}

.container-input {
  max-width: 480px;
  margin: 14px 0;
}

.container-input span {
  color: #fff;
  font-size: 22px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 18px;
  border-radius: 5px;
  background: #dfdfdf;
  outline: none;
  margin-top: 8px;
}

.button-cta {
  height: 40px;
  background-color: #3eb72d;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 40px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  transition: transform 0.5s;
}

.button-cta:hover {
  transform: scale(1.05);
}

.container-password {
  max-width: 480px;
  margin: 14px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.title {
  text-align: center;
  color: #fff;
  font-size: 28px;
  margin-top: 24px;
  margin-bottom: 8px;
}

.password {
  height: 60px;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  border: 1px solid #313131;
  transition: transform 0.5s;
}

.password:hover {
  transform: scale(1.05);
}

.tooltip {
  color: #fff;
  position: relative;
  top: 20px;
  padding: 6px 8px;
  background: rgb(15, 15, 15);
  text-align: center;
  font-size: 18px;
  border-radius: 6px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.container-password:hover .tooltip {
  visibility: visible;
  bottom: 50px;
  opacity: 1;
}

.hide {
  display: none;
}

@media (max-width: 665px) {
  .password {
    width: 85%;
    height: 40px;
    font-size: 16px;
  }

  .tooltip {
    width: 90%;
  }
  .button-cta {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo {
    max-width: 250px;
    margin-bottom: 24px;
  }
  .container-input {
    padding: 0 1.5rem;
  }
  .container-input span {
    font-size: 16px;
  }
  .slider {
    height: 16px;
  }

  .title {
    font-size: 20px;
  }
}
